# A colleague's problem - numpy on a dataframe
Base code started from [sklearn.model_selection.train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

Error experienced: 
```
Output is ValueError: Shape of passed values is (892824, 31), indices imply (892824, 32)
```

## Set up
Generate DataFrame with 32 headed columns, plus labels to use with `sklearn`

In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
x, y = np.arange(320).reshape((10, 32)), range(10)

In [2]:
# Generate column names for x_df
# Copy and paste the result into the next cell
l = []
for i in range(32):
    l.append(f"'Col{i+1}': x[:, {i}],")

' '.join(l)

"'Col1': x[:, 0], 'Col2': x[:, 1], 'Col3': x[:, 2], 'Col4': x[:, 3], 'Col5': x[:, 4], 'Col6': x[:, 5], 'Col7': x[:, 6], 'Col8': x[:, 7], 'Col9': x[:, 8], 'Col10': x[:, 9], 'Col11': x[:, 10], 'Col12': x[:, 11], 'Col13': x[:, 12], 'Col14': x[:, 13], 'Col15': x[:, 14], 'Col16': x[:, 15], 'Col17': x[:, 16], 'Col18': x[:, 17], 'Col19': x[:, 18], 'Col20': x[:, 19], 'Col21': x[:, 20], 'Col22': x[:, 21], 'Col23': x[:, 22], 'Col24': x[:, 23], 'Col25': x[:, 24], 'Col26': x[:, 25], 'Col27': x[:, 26], 'Col28': x[:, 27], 'Col29': x[:, 28], 'Col30': x[:, 29], 'Col31': x[:, 30], 'Col32': x[:, 31],"

In [3]:
import pandas as pd
x_df = pd.DataFrame({
    'Col1': x[:, 0], 'Col2': x[:, 1], 'Col3': x[:, 2], 'Col4': x[:, 3], 'Col5': x[:, 4], 'Col6': x[:, 5], 'Col7': x[:, 6], 'Col8': x[:, 7], 'Col9': x[:, 8], 'Col10': x[:, 9], 'Col11': x[:, 10], 'Col12': x[:, 11], 'Col13': x[:, 12], 'Col14': x[:, 13], 'Col15': x[:, 14], 'Col16': x[:, 15], 'Col17': x[:, 16], 'Col18': x[:, 17], 'Col19': x[:, 18], 'Col20': x[:, 19], 'Col21': x[:, 20], 'Col22': x[:, 21], 'Col23': x[:, 22], 'Col24': x[:, 23], 'Col25': x[:, 24], 'Col26': x[:, 25], 'Col27': x[:, 26], 'Col28': x[:, 27], 'Col29': x[:, 28], 'Col30': x[:, 29], 'Col31': x[:, 30], 'Col32': x[:, 31]
})


x_df

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32
0,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
1,32,33,34,35,36,37,38,39,40,41,...,54,55,56,57,58,59,60,61,62,63
2,64,65,66,67,68,69,70,71,72,73,...,86,87,88,89,90,91,92,93,94,95
3,96,97,98,99,100,101,102,103,104,105,...,118,119,120,121,122,123,124,125,126,127
4,128,129,130,131,132,133,134,135,136,137,...,150,151,152,153,154,155,156,157,158,159
5,160,161,162,163,164,165,166,167,168,169,...,182,183,184,185,186,187,188,189,190,191
6,192,193,194,195,196,197,198,199,200,201,...,214,215,216,217,218,219,220,221,222,223
7,224,225,226,227,228,229,230,231,232,233,...,246,247,248,249,250,251,252,253,254,255
8,256,257,258,259,260,261,262,263,264,265,...,278,279,280,281,282,283,284,285,286,287
9,288,289,290,291,292,293,294,295,296,297,...,310,311,312,313,314,315,316,317,318,319

In [4]:
list(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Generate train/test splits

In [5]:
x_train_base, x_test, y_train, y_test = train_test_split(
    x_df, y, test_size=0.33, random_state=42)

In [6]:
print(x_train_base)
x_train_base

   Col1  Col2  Col3  Col4  Col5  Col6  Col7  Col8  Col9  Col10  ...  Col23  \
7   224   225   226   227   228   229   230   231   232    233  ...    246
2    64    65    66    67    68    69    70    71    72     73  ...     86
9   288   289   290   291   292   293   294   295   296    297  ...    310
4   128   129   130   131   132   133   134   135   136    137  ...    150
3    96    97    98    99   100   101   102   103   104    105  ...    118
6   192   193   194   195   196   197   198   199   200    201  ...    214

   Col24  Col25  Col26  Col27  Col28  Col29  Col30  Col31  Col32
7    247    248    249    250    251    252    253    254    255
2     87     88     89     90     91     92     93     94     95
9    311    312    313    314    315    316    317    318    319
4    151    152    153    154    155    156    157    158    159
3    119    120    121    122    123    124    125    126    127
6    215    216    217    218    219    220    221    222    223

[6 rows x 32 columns]

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32
7,224,225,226,227,228,229,230,231,232,233,...,246,247,248,249,250,251,252,253,254,255
2,64,65,66,67,68,69,70,71,72,73,...,86,87,88,89,90,91,92,93,94,95
9,288,289,290,291,292,293,294,295,296,297,...,310,311,312,313,314,315,316,317,318,319
4,128,129,130,131,132,133,134,135,136,137,...,150,151,152,153,154,155,156,157,158,159
3,96,97,98,99,100,101,102,103,104,105,...,118,119,120,121,122,123,124,125,126,127
6,192,193,194,195,196,197,198,199,200,201,...,214,215,216,217,218,219,220,221,222,223

In [7]:
x_test

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col31,Col32
8,256,257,258,259,260,261,262,263,264,265,...,278,279,280,281,282,283,284,285,286,287
1,32,33,34,35,36,37,38,39,40,41,...,54,55,56,57,58,59,60,61,62,63
5,160,161,162,163,164,165,166,167,168,169,...,182,183,184,185,186,187,188,189,190,191
0,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31

In [8]:
y_train

[7, 2, 9, 4, 3, 6]

In [9]:
y_test

[8, 1, 5, 0]

In [10]:
train_test_split(y, shuffle=False)

[[0, 1, 2, 3, 4, 5, 6], [7, 8, 9]]

In [11]:
print("x_train_base shape: ", x_train_base.shape)

x_train_base shape:  (6, 32)

## Solution, followed by original non-working line

In [13]:
# A solution for Dave H's error (see next cell)
x_train = x_train_base.loc[:, x_train_base.columns != 'Col31']
x_train

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col22,Col23,Col24,Col25,Col26,Col27,Col28,Col29,Col30,Col32
7,224,225,226,227,228,229,230,231,232,233,...,245,246,247,248,249,250,251,252,253,255
2,64,65,66,67,68,69,70,71,72,73,...,85,86,87,88,89,90,91,92,93,95
9,288,289,290,291,292,293,294,295,296,297,...,309,310,311,312,313,314,315,316,317,319
4,128,129,130,131,132,133,134,135,136,137,...,149,150,151,152,153,154,155,156,157,159
3,96,97,98,99,100,101,102,103,104,105,...,117,118,119,120,121,122,123,124,125,127
6,192,193,194,195,196,197,198,199,200,201,...,213,214,215,216,217,218,219,220,221,223

In [14]:
# This generate's Dave H's error
x_train = np.delete(x_train_base,30,1)

ValueError: Shape of passed values is (6, 31), indices imply (6, 32)